@model Joueur

<h2>Supprimer le jeu #@Model.Id</h2>

<div class="alert alert-warning" role="alert">
    Êtes-vous sûr de vouloir supprimer ce jeu ?
</div>

@*TODO: Complétez cette vue de façon à  
        confirmer ou annuler la supression*@

